<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content" th:object="${citations}">
    <div>
        <h1 class="mt-5">Citations</h1>
        <p class="mb-3">Quotes from e.g people, books or articles, ranked for reliability</p>
        <table id="citations-table" class="table table-bordered table-striped"
               data-toggle="table"
               data-header-style="tableHeaderStyle"
               data-sort-name="date"
               data-sort-order="desc"
               data-pagination="true"
               data-search="true">
            <thead>
            <tr>
                <th data-field="text" data-sortable="true" data-searchable="true">Text</th>
                <th data-sortable="false" data-searchable="false">Link</th>
                <th data-field="by" data-sortable="true" data-searchable="true" data-formatter="checkerToLink"
                    data-visible="false">By
                </th>
                <th data-field="date" data-sortable="true" data-searchable="false" data-formatter="tsToString">Last
                    Updated
                </th>
                <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
                    data-sortable="false" data-searchable="false">Edit
                </th>
                <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
                    data-sortable="false" data-searchable="false">Delete
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="citation : ${citations}">
                <td class="column-text">
                    <div class="table-text">
                        <a th:text="${citation.text}" th:href="@{/citation/view/{id}(id=${citation.id.toString()})}"/>
                    </div>
                </td>
                <td>
                    <a th:href="${citation.link}" target="_blank"
                       class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-link"/>
                </td>
                <td th:text="${citation.ownerId}"></td>
                <td th:text="${citation.updatedTs}"></td>
                <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                    <a th:href="@{/citation/details/{id}(id=${citation.id.toString()})}"
                       class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                </td>
                <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">

                    <form th:action="@{/citation/delete/{id}(id=${citation.id.toString()})}" method="post">
                        <input type="text" class="d-none" name="ownerId" th:value="${citation.ownerId}" readonly/>
                        <input type="submit" value="X"
                               class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"
                               th:disabled="${ @sUtils.getDisabled(#authentication.getPrincipal(),citation)}"/>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
        <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
           class="my-5"><a href="/citation/add" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a>
        </p>
        <script>
                checkersCallbacks.push(function() {});
                loadCompleteCallbacks.push(function() {
                    $('#citations-table').bootstrapTable('showColumn', 'by');
                });

        </script>
    </div>
</div>
</html>
