HELP.md
target/

# TODO: check - what are those?
.mvn
mvnw
mvnw.cmd

!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Local dev config ###
application-dev.properties
application.properties*

### Test crypto material ###
src/main/resources/test-crypto/*
!src/main/resources/test-crypto/test-cert.pem
!src/main/resources/test-crypto/test_pk
!src/main/resources/test-crypto/client.truststore
!src/main/resources/test-crypto/iz-dev.p12
