HELP.md
target/

.mvn
mvnw
mvnw.cmd

!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
tmp/
deploy-test/

### VS Code ###
.vscode/

### Local dev config ###
application-dev.properties
application.properties*
# initDb.sql

### Test crypto material ###
src/main/resources/test-crypto/*
!src/main/resources/test-crypto/devCA.pem
!src/main/resources/test-crypto/iz-app-dev.p12
!src/main/resources/test-crypto/iz.truststore

# TODO: remove this
deploy/k8s/deployment.sh