<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content" th:object="${hypotheses}">
        <div>
            <div>
                <h1 class="mt-5">Claims</h1>
                <p class="mb-3">Factual claims, ranked for reliability</p>
                <table id="hypothesis-table" class="table table-bordered table-striped"
                       data-toggle="table"
                       data-header-style="tableHeaderStyle"
                       data-sort-name="date"
                       data-sort-order="desc"
                       data-pagination="true"
                       data-search="true">
                    <thead>
                        <tr>
                            <th data-field="text"  data-sortable="true" data-searchable="true">Text</th>
                            <th data-field="score"  data-sortable="true" data-searchable="false">Score</th>
                            <th data-field="by"  data-sortable="true" data-searchable="true" data-formatter="checkerToLink" data-visible="false">By</th>
                            <th data-field="date"  data-sortable="true" data-searchable="false" data-formatter="tsToString">Last Updated</th>
                            <th:block sec:authorize="hasRole('ROLE_CHECKER')">
                                <th data-sortable="false" data-searchable="false">Edit</th>
                                <th data-sortable="false" data-searchable="false">Delete</th>
                            </th:block>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hypothesis : ${hypotheses}">
                            <td class="column-text">
                                <div class="table-text">
                                    <a th:text="${hypothesis.claim}"
                                       th:href="@{/hypothesis/view/{id}(id=${hypothesis.id.toString()})}"/>
                                </div>
                            </td>
                            <td th:text="${hypothesis.score.reliability}"></td>
                            <td th:text="${hypothesis.ownerId}"></td>
                            <td th:text="${hypothesis.updatedTs}"></td>
                            <th:block sec:authorize="hasRole('ROLE_CHECKER')">
                                <td>
                                    <a th:href="@{/hypothesis/details/{id}(id=${hypothesis.id.toString()})}"
                                       class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                                </td>
                                <td><!-- TODO: disabled not working -->
                                    <a th:href="@{/hypothesis/delete/{id}(id=${hypothesis.id.toString()})}"
                                       class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"
                                       th:disabled="${@sUtils.getDisabled(#authentication.getPrincipal(), hypothesis)}"/>
                                </td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
               class="my-5"><a href="/hypothesis/add" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a>
            </p>
            <script>
                checkersCallbacks.push(function() {});
                loadCompleteCallbacks.push(function() {
                    $('#hypothesis-table').bootstrapTable('showColumn', 'by');
                });
            </script>
        </div>
    </div>
</html>
