<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content" th:object="${hypotheses}">
        <div>
            <div>
                <h1 class="mt-5">Claims</h1>
                <p class="mb-3">Factual claims, ranked for reliability</p>
                <table id="hypothesisTable" data-toggle="table" data-header-style="tableHeaderStyle"
                       data-sort-name="date" data-sort-order="desc"
                       data-buttons-class="primary" data-pagination="true" data-search="true">
                    <thead>
                        <tr>
                            <th data-field="text" data-sortable="true">Text</th>
                            <th data-field="score" data-sortable="true">Score</th>
                            <th data-field="by" data-sortable="true">By</th>
                            <th data-field="date" data-sortable="true">Last Updated</th>
                            <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Edit</th>
                            <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hypothesis : ${hypotheses}">
                            <td>
                                <a th:text="${hypothesis.claim}" th:href="@{/hypothesis/view/{id}(id=${hypothesis.id.toString()})}"/>
                            </td>
                            <td th:text="${hypothesis.score.reliability}"></td>
                            <td title="fact-checker" th:data-checker-id="${hypothesis.ownerId}"></td>
                            <td title="timestamp" th:text="${hypothesis.updatedTs}"></td>
                            <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                                <a th:href="@{/hypothesis/details/{id}(id=${hypothesis.id.toString()})}"
                                   class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                            </td>
                            <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                                <a th:href="@{/hypothesis/delete/{id}(id=${hypothesis.id.toString()})}"
                                   class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
               class="my-5"><a href="/hypothesis/add" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a>
            </p>
            <script>
                checkersCallbacks.push(function() {
                    $.each(checkers, function(id, checker) {
                        $('td[data-checker-id="'+checker.entityId+'"]').append('<a href = "/factchecker/view/' + checker.id + '">' + checker.name + '</a>')
                    });
                });

                handleTableRender($('#hypothesisTable'));
            </script>
        </div>
    </div>
</html>
