<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content">
        <div class="my-5">
            <h1 class="mb-5">Update Claim</h1>
            <div class="row">
                <div class="col">
                    <form action="#" th:action="@{/hypothesis/details/{id}(id=${hypothesis.id.toString()})}" th:object="${hypothesis}" method="post">
                        <input type="text" class="d-none" name="entityId" th:value="${hypothesis.entityId}" readonly/>
                        <input type="text" class="d-none" name="ownerId" th:value="${hypothesis.ownerId}" readonly/>
                        <div th:replace="~{fragments/hypothesis :: hypothesis(false)}"></div>
                        <div class="row mt-3">
                            <div class="col">
                                <input type="submit" th:disabled="${ @sUtils.getDisabled(#authentication.getPrincipal(), hypothesis)}"
                                       class="btn btn-primary" value="Update"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div th:replace="~{fragments/src-ref-list :: sourceList(${hypothesis.sources}, @{'/hypothesis/source/' + ${hypothesis.id}})}"></div>

            <div th:replace="~{fragments/ref-list :: referenceList(${hypothesis.entityId}, ${hypothesis.references}, @{'/hypothesis/reference/' + ${hypothesis.id}})}"></div>

            <div th:replace="~{fragments/review-list :: reviewList(${hypothesis.reviews}, @{'/hypothesis/' + ${hypothesis.id} + '/review/'})}"></div>

        </div>
    </div>
</html>
