<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Claim Details</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container my-5">
                <h2 class="mb-5">Claim Details</h2>
                <div class="row" th:object="${hypothesis}">
                    <div class="col-md-6">
                        <div th:replace="fragments/hypothesis :: hypothesis('read')"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
