<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content" th:object="${hypothesis}">
        <h1 class="mb-3">Claim Details</h1>
        <h4 class="mb-3" th:text="*{claim}"/>
        <span class="text-muted">
            <b>Reliability:</b> <span th:text="@{ {value}, (value=*{score.reliability})}"/>
            <b>Confidence:</b> <span th:text="@{ {value}(value=*{score.confidence})}"/>
        </span>
        <div th:replace="~{fragments/src-ref-list :: sourceList(${hypothesis.sources}, '')}"></div>

        <div th:replace="~{fragments/ref-list :: referenceList(${hypothesis.references}, '')}"></div>

        <div th:replace="~{fragments/review-list :: reviewList(${hypothesis.reviews}, '')}"></div>
    </div>
</html>
