<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="checker(mode)">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Chuck Fecter"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_ADMIN'')') or mode == 'read'}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            </div>
        </div>
        <div class="row" th:unless="${mode == 'read'}">
            <div class="form-group col-md-6">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="chuck@university.ac"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_ADMIN'')') or mode == 'read'}" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="link" class="col-form-label">Profile link</label>
                <input type="url" th:field="*{link}" class="form-control" id="link" placeholder="https://www.linkedin.com/in/chuckfecter/"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_ADMIN'')') or mode == 'read'}" />
                <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="reliability" class="col-form-label">Reliability</label>
                <input type="number" min="0" max="1" step="0.1" th:value="0.9" th:field="*{score.reliability}" class="form-control" id="reliability"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_ADMIN'')') or mode == 'read'}" />
                <span th:if="${#fields.hasErrors('score.reliability')}" th:errors="*{score.reliability}" class="text-danger"></span>
                <label for="confidence" class="col-form-label">Confidence</label>
                <input type="number" min="0" max="2" step="0.1" th:value="0.5" th:field="*{score.confidence}" class="form-control" id="confidence"
                       disabled />
                <span th:if="${#fields.hasErrors('score.confidence')}" th:errors="*{score.confidence}" class="text-danger"></span>
            </div>
        </div>
    </div>
</html>