<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="hypothesis(mode)">
        <div class="row">
            <div class="form-group col">
                <label for="claim" class="col-form-label">Claim</label>
                <input type="text" th:field="*{claim}" class="form-control" id="claim" placeholder="The sky is blue"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_MEMBER'')') or mode == 'read'}"/>
                <span th:if="${#fields.hasErrors('claim')}" th:errors="*{claim}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="locale" class="col-form-label">Locale</label>
                <select th:field="*{locale}" class="form-control custom-select" id="locale"
                        th:disabled="${!#authorization.expression('hasRole(''ROLE_MEMBER'')') or mode == 'read'}">
                    <option th:value="'en_GH'" th:text="'English (Ghana)'"></option>
                    <option th:value="'en_US'" th:text="'English (US)'"></option>
                </select>
                <span th:if="${#fields.hasErrors('locale')}" th:errors="*{locale}" class="text-danger"></span>
            </div>
        </div>
        <div th:replace="fragments/score :: score(${mode})"></div>
    </div>
</html>