<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="customModal(title, content_id)">
    <div th:id="'modal_' + ${content_id}" class="modal fade ui-front" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div th:id="'modal_body_' + ${content_id}" class="modal-body">
                </div>
                <div class="modal-footer"/>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {
            var body_selector = "#modal_body_[[${content_id}]]";
            var content_selector = "#[[${content_id}]]";
            // TODO: WORKAROUND - check why form closed prematurely in 'Edit Reference'
            htmlStr = $(content_selector).html().replace('</form>','') + "</form>";
            $(body_selector).append(htmlStr)
        });
    </script>
</div>
</html>