<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="customModal(title, content_id)">
    <div th:id="'modal_' + ${content_id}" class="modal fade ui-front" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div th:id="'modal_' + ${content_id} + '_body'" class="modal-body">
                </div>
                <div th:id="'modal_' + ${content_id} + '_footer'" class="modal-footer"/>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {
            const body_selector = "#modal_[[${content_id}]]_body";
            const content_selector = "#[[${content_id}]]";
            // Move content into modal body
            $(body_selector).append($(content_selector));

            // TODO: After failed form submission - browser should return to "details" page if modal is dismissed
        });
    </script>
</div>
</html>