<html xmlns:th="http://www.thymeleaf.org">

<!-- TODO: reference-list overflows the container a bit on small screens. Fix this -->

    <div th:fragment="referenceList(references, refsUrl)">
        <h2 class="mt-5">References</h2>
        <div>
            <table id="references-table"
                   class="table table-striped"
                   data-toggle="table"
                   data-detail-view="true"
                   data-detail-view-by-click="true"
                   data-detail-view-icon="false"
                   data-detail-formatter="referenceFormatter">
                <thead>
                    <tr>
                        <th data-field="reference">Reference</th>
                        <th data-field="entailment">Entailment</th>
                        <th data-field="degree">Degree</th>
                        <th data-field="comment">Comment</th>
                        <th th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(refsUrl)}">Edit</th>
                        <!-- th th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(refsUrl)}">Delete</th -->
                    </tr>
                </thead>
                <tbody>
                <tr th:each="reference : ${references}">
                    <td th:data-reference="${reference.referencedId}"/>
                    <td th:text="${reference.entailment.displayValue}"></td>
                    <td th:text="${reference.degree}"/>
                    <td>
                        <span class="table-text" th:text="${reference.comment}"/>
                    </td>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(refsUrl)}">
                        <div style="display:none;">
                            <div id="${reference.id}" th:insert="fragments/edit-reference-form :: editRefForm(
                                                @{{prefix}/{refId}(prefix=${refsUrl}, refId=${reference.id.toString()})})"></div>

                        </div>
                        <div th:replace="fragments/modal :: customModal('modal_' + ${reference.id}, 'Edit Reference', ~{::__${reference.id}__})"></div>
                        <td>
                            <button type="button" th:id="'edit_' + ${reference.id}" data-toggle="modal"
                                    th:attr="data-target='#modal_' + ${reference.id}"
                                    class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                        </td>
                    </th:block>
                    <!--td th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(refsUrl)}">
                        <a th:href="@{/source/delete/{id}(id=${source.id.toString()})}"
                           class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"/>
                    </td-->
                </tr>
                </tbody>
            </table>


            <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(refsUrl)}">

                <div id="ref_modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reference</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body ui-front">
                                <div th:replace="fragments/reference-form :: referenceForm(${refsUrl})"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <button type="button" th:id="add_ref" data-toggle="modal" data-target='#ref_modal'
                            class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-plus"/>
                </div>

            </th:block>

            <script>
                handleReferencesRender($('#references-table'));

                function referenceFormatter(index, row) {
                    return '<div>' + row.comment + '</div>';
                }
            </script>
        </div>
    </div>
</html>