<html xmlns:th="http://www.thymeleaf.org">

<!-- /*
     NOTE:
     Fragments get the iteration variables, but all forms bind the 'reference' model-object.
      This means that input values should be taken from the iteration-variable using 'th:value' rather than 'th:field',
      while errors should just refer to the bound variable's fields (e.g. #fields.hasErrors('entailment') ).

     IMPORTANT:
     Modal selectors must match their given ids in the ref-list template.
     */ -->

<div th:fragment="refProps(ref)">
    <div class="form-row">
        <div class="col">
            <input type="text" class="d-none" name="id" th:value="${ref.id}" readonly>
        </div>
    </div>
    <div class="form-row form-group">
        <div class="col">
            <label th:for="'entailment' + ${ref.id}">Entailment</label>
            <select name="entailment" th:value="${ref.entailment}" class="form-control" th:id="'entailment' + ${ref.id}"
                    th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
                <option value=""> -- </option>
                <option th:each="entailmentOpt : ${ref.entailmentTypes()}"
                        th:value="${entailmentOpt}" th:text="${entailmentOpt.getDisplayValue()}"
                        th:selected="${entailmentOpt.getDisplayValue().equals(ref.entailment?.getDisplayValue())}"></option>
            </select>
            <div th:if="${#fields.hasErrors('entailment') && @tlUtils.isRefFormError(ref, reference)}">
                <span th:errors="*{entailment}" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col">
            <label th:for="'degree' + ${ref.id}">Degree</label>
            <input type="number" name="degree" th:value="${ref.degree}" th:id="'degree' + ${ref.id}"
                   min="0" max="1" step="0.01" class="form-control"
                   th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
            <div th:if="${#fields.hasErrors('degree') && @tlUtils.isRefFormError(ref, reference)}">
                <span th:errors="*{degree}" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="col">
            <label th:for="'comment' + ${ref.id}" class="col-form-label">Comment</label>
            <textarea name="comment" class="form-control" cols="20" th:id="'comment' + ${ref.id}"
                      th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"
                      th:text="${ref.comment}"></textarea>
            <div th:if="${#fields.hasErrors('comment') && @tlUtils.isRefFormError(ref, reference)}">
                <span th:errors="*{comment}" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="editRefForm(action_path, cur_ref)">
    <form th:id="'reference_form_' + ${cur_ref.getId()}" th:action="${action_path}" th:object="${reference}" method="post">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="d-none" name="refEntityId" th:value="${cur_ref.getRefEntityId()}" readonly>
                <input type="text" class="d-none" name="factCheckedEntityId" th:value="${cur_ref.getFactCheckedEntityId()}" readonly>
                <input type="text" class="d-none" name="ownerId" th:value="${cur_ref.ownerId}" readonly>
            </div>
        </div>
        <!-- /* IMPORTANT: when passing variables to fragments use th:insert, not th:replace. The later may not work
                        because of processing precedence (e.g. iteration variables are not yet available) */ -->
        <div th:insert="~{fragments/reference :: refProps(${cur_ref})}" th:remove="tag"></div>

        <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="form-row mt-2">
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Update">
            </div>
        </div>
        <th:block th:if="${#fields.hasAnyErrors() && @tlUtils.isRefFormError(cur_ref, reference) }">
            <!-- Display form if submission failed with errors -->
            <script>
                loadCompleteCallbacks.push(function() {
                    // trigger containing modal to display form
                    const modal_selector = "#modal_ref_" + "[[${cur_ref.getId()}]]";
                    $(modal_selector).modal('show');
                });
            </script>
        </th:block>
    </form>
</div>

<div th:fragment="referenceForm(action_path, ref, entityId)">
    <form id="reference_form_null" th:action="${action_path}" th:object="${reference}"  method="post"
          th:data-path="${action_path}">
        <div class="form-row">
            <div class="form-group col">
                <input name="reference-select" class="form-control refAutoSelect"
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"
                       placeholder="Start typing to search..." >
                <input type="text" class="d-none" name="refEntityId" th:value="${ref.getRefEntityId()}">
                <input type="text" class="d-none" name="factCheckedEntityId" th:value="${entityId}" readonly>
                <span th:if="${#fields.hasErrors('refEntityId') && @tlUtils.isAddRefFormError(ref, reference) }"
                      th:errors="*{refEntityId}" class="text-danger"></span>
            </div>
        </div>

        <!-- /* IMPORTANT: when passing variables to fragments use th:insert, not th:replace. The later may not work
                        because of processing precedence (e.g. iteration variables are not yet available) */ -->
        <div th:insert="~{fragments/reference :: refProps(${ref})}" th:remove="tag"></div>


        <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="form-row mt-2">
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </div>
        <th:block th:if="${ #fields.hasAnyErrors() && @tlUtils.isAddRefFormError(ref, reference) }">
            <!-- Display form if submission failed with errors -->
            <script>
                const ref_entity_id = "[[${ref.getRefEntityId()}]]";
                const modal_selector = "#modal_add_ref_form";

                modalCallbacks.push(function () {
                    if ( ref_entity_id ) {
                        let ref = references.find(obj => {
                            return obj.id === ref_entity_id;
                        })
                        if (ref) {
                            // if user already chose a reference - select it when modal pops up
                            $(modal_selector).one('shown.bs.modal', function() {
                                $('.refAutoSelect').autocomplete('search', ref.label)
                                let menu = $(".refAutoSelect").autocomplete("widget");
                                let found = $(menu[0].children[0]);
                                if (found) found.click();
                            });
                        }
                    }
                    // trigger containing modal to display form
                    $(modal_selector).modal('show');
                })
            </script>
        </th:block>
    </form>
</div>

