<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="refProps">
    <div class="form-row">
        <div class="form-group col-6">
            <label th:for="entailment">Entailment</label>
            <select name="entailment" th:value="${reference.entailment}" class="form-control"
                    th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
                <option value=""> -- </option>
                <option th:each="entailmentOpt : ${T(org.informiz.model.Reference.Entailment).values()}"
                        th:value="${entailmentOpt}" th:text="${entailmentOpt.getDisplayValue()}"
                        th:selected="${entailmentOpt.equals(reference.entailment)}"></option>
            </select>
            <span th:if="${#fields.hasErrors('entailment')}" th:errors="*{entailment}" class="text-danger"></span>
        </div>
        <div class="form-group col-6">
            <label th:for="degree">Degree</label>
            <input type="number" name="degree" th:value="${reference.degree}"
                   min="0" max="1" step="0.01" class="form-control"
                   th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
            <span th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}" class="text-danger"></span>

        </div>
    </div>
    <div>
        <label th:for="comment" class="col-form-label">Comment</label>
        <textarea name="comment" th:value="${reference.comment}" class="form-control" cols="20"
                  th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"
                  th:text="${reference.comment}"></textarea>
        <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="text-danger"></span>
    </div>
</div>

<div th:fragment="editRefForm(action_path)">
    <form th:action="${action_path}" th:object="${reference}" method="post">
        <!-- The id of the claim or citation being referenced (not necessarily local) -->
        <input type="hidden" name="referencedId" th:value="${reference.referencedId}"/>

        <div th:replace="fragments/reference :: refProps"/>

        <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="row mt-2">
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Update"/>
            </div>
        </div>
    </form>
</div>

<div th:fragment="referenceForm(action_path)">
    <form action="#" th:action="${action_path}" th:object="${reference}"  method="post"
           th:data-path="${action_path}">
        <div class="row">
            <div class="form-group col">
                <input name="reference-select" class="form-control refAutoSelect"
                        th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"
                        placeholder="Start typing to search..." ></input>
                <input type="text" class="invisible" name="referencedId" readonly/>
                <span th:if="${#fields.hasErrors('referencedId')}" th:errors="*{referencedId}" class="text-danger"></span>
            </div>
        </div>

        <div th:replace="fragments/reference :: refProps"/>


        <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="row mt-2">
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Add"/>
            </div>
        </div>
        <script>
            // ********************** TODO: prevent entities referencing themselves **********************

        var references = []

        autoSearchCallbacks.push(function() {

            $.each(citations, function(id, citation) {
                display_text = citation.text + ' [Citation]';
                references.push( { label: display_text, value: display_text, id: citation.entityId } );
            });

            $.each(claims, function(id, hypothesis) {
                display_text = hypothesis.claim + ' [Claim]';
                references.push( { label: display_text, value: display_text, id: hypothesis.entityId } );
            });


            $( ".refAutoSelect" ).autocomplete({
                source: references
            });

            $( ".refAutoSelect" ).on( "autocompleteselect", function( event, ui ) {
                input_obj = $( "input[name='referencedId']", "#modal_add_ref_form" );
                input_obj.val(ui.item.id);
            });

        });

        </script>
    </form>
</div>

