<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="referenceForm(actionPath)">
    <h3 class="mt-5">Add Reference</h3>
    <div class="row">
        <div class="col-md-8">
            <form action="#" th:action="@{${actionPath}}" th:object="${reference}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="refSelect" class="col-form-label">Reference</label>
                        <select th:field="*{citationId}" class="form-control custom-select" id="refSelect"
                                th:disabled="${!#authorization.expression('hasRole(''ROLE_MEMBER'')') or mode == 'read'}">
                            <option th:if="*{citationId != null}" th:value="*{citationId}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('citationId')}" th:errors="*{citationId}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="entailment" class="col-form-label">Entailment</label>
                        <select th:field="*{entailment}" id="entailment"
                                th:disabled="${!#authorization.expression('hasRole(''ROLE_USER'')') or mode == 'read'}">
                            <option value=""> -- </option>
                            <option th:each="entailmentOpt : ${T(org.informiz.model.Reference.Entailment).values()}"
                                    th:value="${entailmentOpt}" th:text="${entailmentOpt.displayValue}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('entailment')}" th:errors="*{entailment}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="comment" class="col-form-label">Comment</label>
                        <textarea th:field="*{comment}" class="form-control" id="comment" cols="30"
                                  placeholder="Explain the reference..."/>
                        <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="text-danger"></span>
                    </div>
                </div>
                <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" class="row mt-2">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Update"/>
                    </div>
                </div>
            </form>
        </div>
        <script>
            // ********************** TODO: prevent claims referencing themselves, implement search
            citationsCallbacks.push(function() {
                var refSelect = $('#refSelect');
                var refId = 0;

                if ($('#refSelect').children('option').length > 0) {
                    refId = $('#refSelect').val();
                }

                refSelect.append($('<option></option>').val(' -- ').html(' -- '));
                $.each(citations, function(id, citation) {
                    var opt = $('<option></option>').val(citation.entityId).html(citation.text);
                    if (refId == citation.entityId) {
                        $("#refSelect option:eq(0)").html(citation.text);
                    }
                    refSelect.append(opt);
                });
            });
        </script>
    </div>
</div>
</html>