<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="srcRefProps(cur_src_ref)">
    <div class="form-row">
        <div class="form-group col">
            <input type="text" class="d-none" name="id" th:value="${cur_src_ref.id}" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label th:for="'link_' + *{id}" class="col-form-label">Link</label>
            <input type="text" th:value="${cur_src_ref.link}" name="link" class="form-control" th:id="'link_' + *{id}"
                   placeholder="https://www.nasa.com/some/article"
                   th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}" />
            <span th:if="${#fields.hasErrors('link') && @tlUtils.isSourceRefFormError(cur_src_ref, source)}" th:errors="*{link}" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label th:for="'description_' + *{id}" class="col-form-label">Description</label>
            <textarea th:text="${cur_src_ref.description}" name="description" class="form-control" th:id="'description_' + *{id}"
                      cols="30" placeholder="Describe the source..."
                      th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"></textarea>
            <span th:if="${#fields.hasErrors('description') && @tlUtils.isSourceRefFormError(cur_src_ref, source)}" th:errors="*{description}" class="text-danger"></span>
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="row mt-2">
        <div class="form-row">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>
    </div>
</div>


<div th:fragment="editSourceForm(actionPath, cur_src_ref)">
    <form th:action="${actionPath}" th:object="${source}" method="post">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="d-none" name="ownerId" th:value="${cur_src_ref.ownerId}" readonly/>
                <input type="text" class="d-none" name="sourcedId" th:value="${cur_src_ref.sourcedId}" readonly>
                <input type="text" class="d-none" name="srcEntityId" th:value="${cur_src_ref.srcEntityId}" />
            </div>
        </div>
        <div th:insert="~{fragments/src-ref-form :: srcRefProps(${cur_src_ref})}" th:remove="tag"></div>

        <th:block th:if="${#fields.hasAnyErrors() && @tlUtils.isSourceRefFormError(cur_src_ref, source) }">
            <!-- Display form if submission failed with errors -->
            <script>
                loadCompleteCallbacks.push(function() {
                    // trigger containing modal to display form
                    const modal_selector = "#modal_src_ref_" + "[[${cur_src_ref.getId()}]]";
                    $(modal_selector).modal('show');
                });
            </script>
        </th:block>
    </form>
</div>



<div th:fragment="addSourceForm(actionPath, src_ref, entityId)">
    <form action="#" th:action="${actionPath}" th:object="${source}" method="post">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="d-none" name="ownerId" th:value="${#authentication.principal.name}" readonly>
                <input type="text" class="d-none" name="sourcedId" th:value="${entityId}" readonly>
                <input type="text" class="d-none" name="srcEntityId">
                <label for="source-ref-select" class="col-form-label">Source</label>
                <input id="source-ref-select" class="form-control src-auto-select" placeholder="Start typing to search..."
                       th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
                <span th:if="${#fields.hasErrors('srcEntityId') && @tlUtils.isAddSourceRefFormError(src_ref, source)}" th:errors="*{srcEntityId}" class="text-danger"></span>
            </div>
        </div>
        <div th:insert="~{fragments/src-ref-form :: srcRefProps(${src_ref})}" th:remove="tag"></div>

        <th:block th:if="${#fields.hasAnyErrors() && @tlUtils.isAddSourceRefFormError(src_ref, source) }">
            <script>
                const src_ref_entity_id = "[[${source.getSrcEntityId()}]]";
                const modal_selector = "#modal_add_src_ref";

                modalCallbacks.push(function () {
                    if ( src_ref_entity_id ) {
                        let src_ref = sources_info.find(obj => {
                            return obj.id === src_ref_entity_id;
                        })
                        if (src_ref) {
                            // if user already chose a source - select it when modal pops up
                            $(modal_selector).one('shown.bs.modal', function() {
                                $('.src-auto-select').autocomplete('search', src_ref.value)
                                let menu = $(".src-auto-select").autocomplete("widget");
                                let found = $(menu[0].children[0]);
                                if (found) found.click();
                            });
                        }
                    }
                    // trigger containing modal to display form
                    $(modal_selector).modal('show');
                })
            </script>
        </th:block>
    </form>
</div>
</html>