<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sourceList(sources, link)">
    <h3 class="mt-5">Sources</h3>
        <div>
            <table id="sources-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Source</th>
                    <th>Link</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="src : ${sources}">
                    <td th:data-entity-id="${src.srcEntityId}"/>
                    <td th:data-link="${src.link}"/>
                    <td>
                        <span class="table-text" th:text="${src.description}"/>
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')} and not ${#strings.isEmpty(link)}">
                <div th:replace="fragments/src-ref-form :: sourceForm(${link})"></div>
            </th:block>
            <script>
                    sourcesCallbacks.push(function() {
                        if ($('#sources-table tr').length > 0) {
                            $('tbody tr td:nth-child(1)').val(function(){
                                var source = sources[$(this).attr('data-entity-id')];
                                if (source) {
                                    $(this).html('<a href="/source/details/' + source.id + '">' + source.name + '</a>')
                                }
                            });
                            $('tbody tr td:nth-child(2)').val(function(){
                                if ($(this).attr('data-link')) {
                                    $(this).html('<a href="' + $(this).attr('data-link') +
                                         '" target="_blank" class="btn btn-primary fas fa-link"/>')
                                }
                            });
                        }
                    });
                </script>
        </div>
    </div>
</html>