<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="sourceList(sources, link)">
    <h3 class="mt-5">Sources</h3>
        <div>
            <table id="sources-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Source</th>
                    <th>Link</th>
                    <th>Description</th>
                    <th:block sec:authorize="hasRole('ROLE_CHECKER')" th:if="not ${#strings.isEmpty(link)}">
                        <th>Edit</th>
                        <th>Delete</th>
                    </th:block>


                </tr>
                </thead>
                <tbody>
                <tr th:each="src : ${sources}">
                    <td th:data-entity-id="${src.srcEntityId}"/>
                    <td th:data-link="${src.link}"/>
                    <td>
                        <span class="table-text" th:text="${src.description}"/>
                    </td>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')} and not ${#strings.isEmpty(link)}">
                        <div style="display:none;">
                            <div th:id="'src_' + ${src.id}">
                                <!-- div th:replace="fragments/edit-review-form :: editRevForm(
                                            @{{prefix}/{refId}(prefix=${refsUrl}, refId=${review.id.toString()})})"></div -->
                                <div th:replace="fragments/src-ref-form :: sourceForm(${link})"></div>

                            </div>
                        </div>
                        <div th:replace="fragments/modal :: customModal('Edit Source Reference', 'src_' + ${src.id})"></div>
                        <td>
                            <button type="button" th:id="'edit_src_' + ${src.id}" data-toggle="modal"
                                    th:attr="data-target='#modal_src_' + ${src.id}"
                                    class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                        </td>
                        <td>
                            <a href="#"
                               class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"/>
                        </td>
                    </th:block>

                </tr>
                </tbody>
            </table>

                <th:block sec:authorize="hasRole('ROLE_CHECKER')" th:if="not ${#strings.isEmpty(link)}">



                <div style="display:none;">
                    <div th:id="add_src_ref">
                        <div th:replace="fragments/src-ref-form :: sourceForm(${link})"></div>
                    </div>
                </div>
                <div th:replace="fragments/modal :: customModal('Add Source', 'add_src_ref')"></div>

                <div class="mt-2">
                    <button type="button" th:id="add_rev" data-toggle="modal"
                            th:attr="data-target='#modal_add_src_ref'"
                            class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-plus"/>
                </div>


            </th:block>
            <script>
                    sourcesCallbacks.push(function() {
                        if ($('#sources-table tr').length > 0) {
                            $('tbody tr td:nth-child(1)').val(function(){
                                var source = sources[$(this).attr('data-entity-id')];
                                if (source) {
                                    $(this).html('<a href="/source/details/' + source.id + '">' + source.name + '</a>')
                                }
                            });
                            $('tbody tr td:nth-child(2)').val(function(){
                                if ($(this).attr('data-link')) {
                                    $(this).html('<a href="' + $(this).attr('data-link') +
                                         '" target="_blank" class="btn btn-primary fas fa-link"/>')
                                }
                            });
                        }
                    });
                </script>
        </div>
    </div>
</html>