<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="sourceList(entityId, sources, link)">
    <h3 class="mt-5">Sources</h3>
        <div>
            <table id="src-refs-table" class="table table-striped table-bordered"
                   data-toggle="table"
                   data-sort-name="source"
                   data-sort-order="asc"
                   data-pagination="true"
                   data-search="true">
                <thead>
                    <tr>
                        <th data-field="source" data-sortable="true" data-searchable="true" data-formatter="sourceFormatter" data-visible="false">Source</th>
                        <th data-field="link" data-sortable="false" data-searchable="false">Link</th>
                        <th data-field="description" data-sortable="false" data-searchable="true">Description</th>
                        <th:block sec:authorize="hasRole('ROLE_CHECKER')" th:if="not ${#strings.isEmpty(link)}">
                            <th data-sortable="false" data-searchable="false">Edit</th>
                            <th data-sortable="false" data-searchable="false">Delete</th>
                        </th:block>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="src_ref : ${sources}">
                    <td th:text="${src_ref.srcEntityId}"></td>
                    <td>
                        <span class="table-text">
                            <a th:href="${src_ref.link}" target="_blank" class="btn btn-primary fas fa-link"></a>
                        </span>
                    </td>
                    <td>
                        <span class="table-text" th:text="${src_ref.description}"></span>
                    </td>
                    <th:block sec:authorize="hasRole('ROLE_CHECKER')" th:if="not ${#strings.isEmpty(link)}">
                        <td>
                            <div th:with="action_url = ${link} + '/edit/'" class="d-none">
                                <div th:id="'src_ref_' + ${src_ref.id}"
                                     th:insert="~{fragments/src-ref-form :: editSourceForm(${action_url}, ${src_ref})}">
                                </div>
                            </div>
                            <div th:replace="~{fragments/modal :: customModal('Edit Source Reference', 'src_ref_' + ${src_ref.id})}"></div>
                            <button type="button" th:disabled="${ @sUtils.getDisabled(#authentication.getPrincipal(), src_ref)}"
                                    th:id="'edit_src_' + ${src_ref.id}" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#modal_src_ref_' + ${src_ref.id}"
                                    class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"></button>
                        </td>
                        <td>
                            <form th:action="@{${link}+'/del/'}" th:object="${source}" method="post">
                                <!-- TODO: Button styling does not work -->
                                <input type="text" class="d-none" name="sourcedId" th:value="${src_ref.sourcedId}" readonly/>
                                <input type="text" class="d-none" name="srcEntityId" th:value="${src_ref.srcEntityId}" readonly/>
                                <input type="text" class="d-none" name="link" th:value="${src_ref.link}" readonly/>
                                <input type="text" class="d-none" name="ownerId" th:value="${src_ref.ownerId}" readonly/>
                                <input type="text" class="d-none" name="id" th:value="${src_ref.id}" readonly/>
                                <input type="submit" value="X"
                                       class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"
                                       th:disabled="${ @sUtils.getDisabled(#authentication.getPrincipal(),src_ref)}"/>
                            </form>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>

            <th:block sec:authorize="hasRole('ROLE_CHECKER')" th:if="not ${#strings.isEmpty(link)}">
                <div class="d-none">
                    <div id="add_src_ref" th:insert="~{fragments/src-ref-form :: addSourceForm(${link}, ${source}, ${entityId})}"></div>
                </div>
                <div th:replace="~{fragments/modal :: customModal('Add Source', 'add_src_ref')}"></div>

                <div class="mt-2">
                    <button type="button" th:id="add_rev" data-bs-toggle="modal"
                            th:attr="data-bs-target='#modal_add_src_ref'"
                            class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-plus"></button>
                </div>
            </th:block>
            <script>
                const sources_info = []
                sourcesCallbacks.push(function() {});

                autoSearchCallbacks.push(function() {
                    $.each(sources, function(id, source) {
                        sources_info.push( { id: source.entityId, value: source.name } );
                    });

                    $('.src-auto-select').autocomplete({
                        source: sources_info,
                    });

                    $( ".src-auto-select" ).on( "autocompleteselect", function( event, ui ) {
                        let src_id = ui.item.id;
                        let src = sources[src_id];
                        $( "input[name='srcEntityId']", event.target.form ).val(src_id);
                        $( "input[name='link']", event.target.form ).val(src.link);
                        $( "textarea[name='description']", event.target.form ).val(src.description);
                    });
                });

                function sourceFormatter(value) {
                    let src = sources[value];
                    if (src) {
                        return '<span class="table-text"><a href = "/source/view/' + src.id + '">' + src.name + '</a></span>';
                    }
                    return '';
                }

                // TODO: on first table rendering the sources are not loaded yet. Better solution?
                loadCompleteCallbacks.push(function() {
                    $('#src-refs-table').bootstrapTable('showColumn', 'source');
                });
            </script>
        </div>
    </div>
</html>