<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="srcRefProps(source)">
    <div class="row">
        <div class="col">
            <label th:for="'link' + ${source.id}" class="col-form-label">Link</label>
            <input type="url" name="link" th:value="${source.link}" class="form-control" th:id="'link' + ${source.id}"
                   placeholder="https://www.nasa.com/some/article"
                   th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}" />
            <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label th:for="'description' + ${source.id}" class="col-form-label">Description</label>
            <textarea name="description" th:value="${source.description}" class="form-control" th:id="'description' + ${source.id}"
                      cols="30" placeholder="Describe the source..."
                      th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
        </div>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}" class="row mt-2">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </div>
</div>


<div th:fragment="editSourceForm(actionPath, source)">
    <div class="row">
        <div class="col">
            <form action="#" th:action="@{${actionPath}}" th:object="${source}" method="post">
                <input type="text" class="d-none" name="ownerId" th:value="${source.ownerId}" readonly/>
                <input type="hidden" th:value="${source.srcEntityId}" name="srcEntityId" />
                <div th:replace="~{fragments/src-ref-form :: srcRefProps(${source})}"></div>
            </form>
        </div>
    </div>
</div>



<div th:fragment="addSourceForm(actionPath, source)">
    <div class="row">
        <div class="col">
            <form action="#" th:action="@{${actionPath}}" th:object="${source}" method="post">
                <div class="row">
                    <div class="form-group col">
                        <input type="text" class="d-none" name="srcEntityId" readonly/>
                        <label th:for="'srcSelect' + ${source.id}" class="col-form-label">Source</label>
                        <input th:id="'srcSelect' + ${source.id}" class="form-control src-auto-select" placeholder="Start typing to search..."
                               th:disabled="${!#authorization.expression('hasRole(''ROLE_CHECKER'')') or mode == 'read'}">
                        <span th:if="${#fields.hasErrors('srcEntityId')}" th:errors="*{srcEntityId}" class="text-danger"></span>
                    </div>
                </div>
                <div th:replace="~{fragments/src-ref-form :: srcRefProps(${source})}"></div>
            </form>
            <script>

                var sources_info = []

                autoSearchCallbacks.push(function() {
                    $.each(sources, function(id, source) {
                        sources_info.push( { id: source.entityId, value: source.name } );
                    });

                    $('.src-auto-select').autocomplete({
                        source: sources_info,
                    });

                    $( ".src-auto-select" ).on( "autocompleteselect", function( event, ui ) {
                        src_id = ui.item.id;
                        src = sources[src_id];
                        $( "input[name='srcEntityId']", "#modal_add_src_ref" ).val(src_id);
                        $( "input[name='link']", "#modal_add_src_ref" ).val(src.link);
                        $( "textarea[name='description']", "#modal_add_src_ref" ).val(src.description);
                    });

                });


            </script>
        </div>
    </div>
</div>
</html>