<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="/home.html">Informiz</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/factchecker/">Fact Checkers</a></li>
                <li class="nav-item"><a class="nav-link" href="/source/">Sources</a></li>
                <li class="nav-item"><a class="nav-link" href="/hypothesis/">Claims</a></li>
                <li class="nav-item"><a class="nav-link" href="/reference/">Citations</a></li>
                <li class="nav-item"><a class="nav-link" href="/informi/">Informiz</a></li>
            </ul>

            <li th:if="${#authorization.expression('isAnonymous()')}" id="signinButton" class="nav-item d-inline-block align-right">
                <a href="#" class="btn btn-outline-success" onclick="signIn();">Sign in</a>
            </li>
            <li th:unless="${#authorization.expression('isAnonymous()')}" id="signoutButton" class="nav-item d-inline-block align-right">
                <a href="#" class="btn btn-outline-success" onclick="signOut();">Sign out</a>
            </li>

        </div>
    </nav>
    <div class="container my-5">
        <h4>
            Welcome <small class="text-muted"> to the Demo-Channel of
            <a href="https://informiz.org/about" target="_blank">Informiz</a>,
            the collaborative fact-checking platform!</small>
        </h4>
        <small class="text-muted d-flex align-self-end">
            <a href="https://www.gofundme.com/f/informiz-collaborative-factchecking" target="_blank">Go fund us!</a>
        </small>
    </div>


    <script>

            function signIn() {
                window.location.replace('/oauth_login');
            }


            function signOut() {
            }

    </script>

    <!--
                function signOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut();
                    auth2.disconnect(); // TODO: This logs the user out of gmail. Necessary?
                }

                $(document).ready(function() {
                    gapi.load('auth2', function() {
                        gapi.auth2.init();
                    });
                });
    -->
</div>

</html>

