<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

        <a class="navbar-brand" href="#">Informiz</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/source/">Sources</a></li>
                <li class="nav-item"><a class="nav-link" href="/factchecker/">Fact Checkers</a></li>
                <li class="nav-item"><a class="nav-link" href="/claim/">Claims</a></li>
                <li class="nav-item"><a class="nav-link" href="/reference/">References</a></li>
                <li class="nav-item"><a class="nav-link" href="/informi/">Informiz</a></li>
            </ul>
            <!-- TODO: Unable to show/hide buttons based on authentication state.
                 Tried th:if=${#authorization.expression('isAuthenticated()')}
                 Tried sec:authorize="isAuthenticated()" (xmlns:sec="http://www.thymeleaf.org/extras/spring-security")-->

            <li id="signinButton" class="nav-item d-inline-block align-right" style="visibility: hidden;">
                <a href="/login/oauth2/code/google">
                    <span class="g-signin2" aria-hidden="true" data-accesstype="postmessage" data-onsuccess="onSignIn"></span>
                </a>
            </li>
            <li id="signoutButton" class="nav-item d-inline-block align-right" style="visibility: hidden;">
                <a class="btn btn-outline-success" onclick="signOut();">Sign out</a>
            </li>

        </div>
    </nav>

    <script>

            // TODO: Fix configuration - without init buttons don't show in home page, with init 'show' is called twice
            gapi.load('auth2', function() {
                gapi.auth2.init().then(function (googleAuth) {
                    if (googleAuth.isSignedIn.get()) {
                        showLogout();
                    } else {
                        showLogin();
                    }
                },
                function () {
                    showLogin();
                });
            });


            function onSignIn(googleUser) {
                showLogout();
                // TODO: need to redirect to protected page to trigger authentication. Is there a better way?
                if (window.location.href.endsWith('/home.html')) {
                    window.location.replace('/factchecker/');
                }
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut();
                auth2.disconnect(); // TODO: This logs the user out of gmail. Necessary?
                window.location.href = '/home.html';
            }


            function showLogin() {
                $('#signoutButton').css('visibility', 'hidden');
                $('#signinButton').css('visibility', 'visible');
            }

            function showLogout() {
                $('#signinButton').css('visibility', 'hidden');
                $('#signoutButton').css('visibility', 'visible');
            }

        </script>

</div>

</html>

