<html layout:decorate="~{fragments/style-main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content">
        <div class="my-5">
            <h1 class="mb-5">New Informi</h1>
            <form class="mb-5" enctype="multipart/form-data" id="addInformiForm" th:object="${informi}"
                  method="post" name="addInformiForm" th:action="@{/informi/add}">
                <div class="form-group">
                    <div class="card-header">
                        Upload media file
                    </div>
                    <input class="form-control btn-sm float-left" id="file" name="file" onchange="displaySelectedImage(event)"
                           required th:disabled="${!#authorization.expression('hasRole(''ROLE_MEMBER'')')}" type="file" />
                    <img id="selectedImage" alt="Selected Image"/>
                </div>
                <script>
    function displaySelectedImage(event) {
        var input = event.target;

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.getElementById('selectedImage');
                img.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
                <div class="card">
                    <div th:replace="~{fragments/informi :: informi(true)}"></div>
                </div>
                <div class="row">
                    <div class="col mt-5">
                        <input class="btn btn-primary" type="submit" value="Add" />
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</html>
