<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Informi</title>
    </head>
    <body>
        <div layout:fragment="content" th:object="${informiz}" class="container my-5">
            <h2 class="my-5">Informiz</h2>
            <div class="row table-responsive">
            <table id="informizTable" class="table table-striped btn-table">
                <thead class="black white-text">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Score</th>
                    <th>By</th>
                    <th>Last Updated</th>
                    <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Edit</th>
                    <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="informi : ${informiz}">
                    <td>
                        <a th:href="@{/informi/view/{id}(id=${informi.id.toString()})}"
                           th:text="${informi.name}"/>
                    </td>
                    <td th:text="${informi.description}"></td>
                    <td th:text="${informi.score.reliability}"></td>
                    <td th:text="${informi.ownerId}" th:name="${informi.ownerId}"></td>
                    <td th:text="${informi.updatedTs}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                        <a th:href="@{/informi/details/{id}(id=${informi.id.toString()})}"
                           class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                    </td>
                    <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                        <a th:href="@{/informi/delete/{id}(id=${informi.id.toString()})}"
                           class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"/>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
               class="my-5"><a href="/informi/upload" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a></p>
            <script>
                var locale = navigator.language || Intl.DateTimeFormat().resolvedOptions().locale || "en-US";

                checkersCallbacks.push(function() {
                    var table = $('#informizTable').DataTable({
                        columnDefs: [
                        {
                            render: function ( data, type, row ) {
                                var checker = checkers[data];
                                if (checker) {
                                    return '<a href = "/factchecker/view/' + checker.id + '">' + checker.name + '</a>';
                                }
                                return data;
                            },
                            targets: 3
                        },
                        {
                            render: function ( data, type, row ) {
                                var d = new Date();
                                d.setTime(data);
                                return d.toLocaleString(locale);
                            },
                            targets: 4
                        } ],
                        order: [ [ 4, "desc" ] ]
                    });

                    $('.dataTables_length').addClass('bs-select');
                });
            </script>
        </div>
    </body>
</html>
