<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
    <div layout:fragment="content" th:object="${informiz}">
        <h1 class="mt-5">Informiz</h1>
        <p class="mb-3">Graphical snippets of information, ranked for reliability</p>
        <div>
            <table class="table table-borderless" id="informizTable" data-toggle="table" data-header-style="tableHeaderHide"
                   data-sort-name="date" data-sort-order="desc" data-custom-search="customSearch"
                   data-buttons-class="primary" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th data-field="date" data-sortable="true">Updated</th>
                        <th data-field="informi" data-sortable="false">Informi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="informi : ${informiz}">
                        <td style="display: none;" th:text="${informi.updatedTs}"/>
                        <td>
                            <div class="lead mt-2">
                                <a class="table-text table-text-header" th:href="@{/informi/view/{id}(id=${informi.id.toString()})}"
                                   th:text="${informi.name}"/>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <span class="info-box mr-2 info-text">
                                        <i class="fas fa-history mr-1"></i>
                                        <small><strong title="timestamp" th:text="${informi.updatedTs}"></strong></small>
                                    </span>
                                    <span class="info-box info-text">
                                        <i class="fas fa-user mr-1"></i>
                                        <small><strong title="fact-checker" th:data-checker-id="${informi.ownerId}"></strong></small>
                                    </span>
                                    <span class="info-box info-text">
                                        <i class="fas fa-comments mr-1"></i>
                                        <small><strong th:text="${informi.reviews.size()} + ' reviews'"></strong></small>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <a th:href="@{/informi/view/{id}(id=${informi.id.toString()})}">
                                        <img class="img-fluid rounded mt-2" th:src="${informi.getMediaPath()}">
                                    </a>
                                    <div><small class="text-muted">
                                        <b>Reliability:</b> <span th:text="${informi.score.reliability}"/>
                                        <b>Confidence:</b> <span th:text="${informi.score.confidence}"/>
                                    </small></div>
                                </div>
                                <div class="col-md mt-2">
                                    <div>
                                        <span class="table-text table-text-long" th:text="${informi.description}"/>
                                    </div>
                                    <div class="mt-3 buttons-container">
                                        <th:block th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                                            <a th:href="@{/informi/details/{id}(id=${informi.id.toString()})}"
                                               class="btn btn-outline-primary mr-2 fas fa-pencil-alt"/>
                                            <a th:href="@{/informi/delete/{id}(id=${informi.id.toString()})}"
                                               class="btn btn-outline-primary mr-2 waves-effect fas fa-times"/>
                                        </th:block>
                                        <a th:href="@{/informi/view/{id}(id=${informi.id.toString()})}"
                                           class="btn btn-primary btn-sm mr-2">Read more...</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
           class="my-5"><a href="/informi/upload" class="btn btn-primary">Add</a></p>
        <script>
            handleTableRender($('#informizTable'));

            function customSearch(data, text) {
                return data.filter(function (row) {
                    // TODO: is it worth it to parseHTML and search only title and description?
                    return row.informi.indexOf(text) > -1;
                })
            }
        </script>
    </div>
</html>
