<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Informi</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:switch="${informiz}" class="container my-5">
                <div class="row">
                    <div>
                        <h2 th:case="null">No informiz yet!</h2>
                        <div th:case="*">
                            <h2 class="my-5">Informiz</h2>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Score</th>
                                    <th>By</th>
                                    <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Edit</th>
                                    <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="informi : ${informiz}">
                                    <td>
                                        <a th:href="@{/informi/view/{id}(id=${informi.id.toString()})}"
                                           th:text="${informi.name}"/>
                                    </td>
                                    <td th:text="${informi.description}" class="form-control"
                                        style="background-color: transparent; border:none"></td>
                                    <td th:text="${informi.score.reliability}"></td>
                                    <td th:name="${informi.ownerId}"></td>
                                    <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                                        <a th:href="@{/informi/details/{id}(id=${informi.id.toString()})}"
                                           class="btn btn-primary fas fa-pencil-alt"/>
                                    </td>
                                    <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                                        <a th:href="@{/informi/delete/{id}(id=${informi.id.toString()})}"
                                           class="btn btn-primary fas fa-times"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
                                class="my-5"><a href="/informi/upload" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a></p>
                    </div>
                </div>
                <script>
                    checkersCallbacks.push(function() {
                        $.each(checkers, function(id, checker) {
                            $('td[name="'+checker.entityId+'"]').append('<a href = "/factchecker/view/' + checker.id + '">' + checker.name + '</a>')
                        });
                    });
                </script>
            </div>
        </div>
    </body>
</html>
