<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content">
        <div class="my-5">
            <h1 class="mb-5">Update Informi</h1>
            <form action="#" th:action="@{/informi/details/{id}(id=${informi.id.toString()})}" th:object="${informi}" method="post">

                <input type="number" class="d-none" name="id" th:value="${informi.id}" readonly/>
                <input type="text" class="d-none" name="entityId" th:value="${informi.entityId}" readonly/>
                <input type="text" class="d-none" name="ownerId" th:value="${informi.ownerId}" readonly/>


                <div th:replace="~{fragments/informi :: informi(false)}"></div>
                <div class="row">
                    <div class="col mt-5">
                        <input type="submit" th:disabled="${ @sUtils.getDisabled(#authentication.getPrincipal(), informi)}"
                               class="btn btn-primary" value="Update"/>
                    </div>
                </div>
            </form>
            <div th:replace="~{fragments/review-list :: reviewList(${informi.entityId}, ${informi.reviews}, @{'/informi/' + ${informi.id} + '/review/'})}"></div>

            <div th:replace="~{fragments/ref-list :: referenceList(${informi.entityId}, ${informi.references}, @{'/informi/reference/' + ${informi.id}})}"></div>
        </div>
    </div>
</html>
