<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fact-Checkers</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:switch="${checkers}" class="container my-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2 th:case="null">No fact-checkers yet!</h2>
                        <div th:case="*">
                            <h2 class="my-5">Fact Checkers</h2>
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Profile</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="checker : ${checkers}">
                                    <td th:text="${checker.name}"></td>
                                    <td><a th:href="${checker.link}" target="_blank" class="btn btn-primary">
                                        <i class="fas fa-user-check ml-2"></i>
                                    </a></td>
                                    <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <a th:href="@{/factchecker/details/{id}(id=${checker.id.toString()})}" class="btn btn-primary">
                                            <i class="fas fa-user-edit ml-2"></i>
                                        </a>
                                    </td>
                                    <td th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <a th:href="@{/factchecker/view/{id}(id=${checker.id.toString()})}" class="btn btn-primary">
                                            <i class="fas fa-user-edit ml-2"></i>
                                        </a>
                                    </td>
                                    <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <a th:href="@{/factchecker/delete/{id}(id=${checker.id.toString()})}" class="btn btn-primary">
                                            <i class="fas fa-user-times ml-2"></i>
                                        </a>
                                    </td>
                                    <td th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <a th:href="#" class="btn btn-primary" style="color:Gray">
                                            <i class="fas fa-user-times ml-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="my-5">
                            <a href="/factchecker/add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
