<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">

    <div class="row my-5 text-center">
        <div class="col col-lg-8 mx-auto">
            <h2>Informiz - The Collaborative Fact-Checking Platform</h2>
            <p>Found an error in our content? Be the first one to let us know at
                <a th:href="'mailto:contact@informiz.org'">contact@informiz.org</a> and get 20$ from us!</p>
            <div class="ratio ratio-16x9">
                <iframe th:src="@{https://www.youtube.com/embed/vi0rdK4oSuE?origin=https://informiz.org}"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</html>