<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/style-main-layout}">
<div layout:fragment="content">
    <div class="container my-5">
        <h2 class="mb-5">Privacy Policy (draft)</h2>
        <p>Informiz doesn’t log or share your personal information. We don’t track or profile visitors to our channels.</p>
        <p>Visitors do not need to log-in. Fact-checkers have some profile-data associated with them, and their
        activity (data they add, reviews they make) is saved on the blockchain for data integrity and data science purposes.</p>
    </div>
</div>
</html>


