<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content">
        <div class="my-5">
            <h1 class="mb-5">New Source</h1>
            <form th:action="@{/source/add}" th:object="${source}" method="post">
                <div class="row" th:insert="~{fragments/source :: sourceProps(${source}, 'true')}"></div>
                <div class="row">
                    <div class="col mt-5">
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>
