<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content" th:object="${sources}">
        <div class="row">
            <div class="col">
                <h1 class="my-3">Sources</h1>
                <p class="mb-5">Known sources, e.g NASA or CNN, ranked for reliability</p>
                <table id="sourcesTable" class="table table-bordered table-striped"
                       data-toggle="table"
                       data-header-style="tableHeaderStyle"
                       data-sort-name="name"
                       data-sort-order="asc"
                       data-pagination="true"
                       data-search="true">
                    <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Name</th>
                        <th data-field="type" data-sortable="true">Type</th>
                        <th data-field="score" data-sortable="true">Score</th>
                        <th>Description</th>
                        <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Edit</th>
                        <th th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="source : ${sources}">
                        <td>
                            <a th:text="${source.name}" th:href="@{/source/view/{id}(id=${source.id.toString()})}"/>
                        </td>
                        <td th:text="${source.srcType.displayValue}"></td>
                        <td th:text="${source.score.reliability}"></td>
                        <td class="column-text">
                            <span class="table-text" th:text="${source.description}"/>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                            <a th:href="@{/source/details/{id}(id=${source.id.toString()})}"
                               class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-pencil-alt"/>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}">
                            <a th:href="@{/source/delete/{id}(id=${source.id.toString()})}"
                               class="btn btn-outline-primary btn-sm m-0 waves-effect fas fa-times"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p th:if="${#authorization.expression('hasRole(''ROLE_MEMBER'')')}"
                   class="my-5"><a href="/source/add" class="btn btn-primary"><i class="fas fa-plus ml-2"></i> Add</a>
                </p>
            </script>
            </div>
        </div>
    </div>
</html>
