<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content" th:object="${source}">
        <h1 class="mb-3">Source Details</h1>
        <div class="pb-3">
            <h4 class="pr-2" th:text="*{name}"/>
            <a target="_blank" class="btn btn-primary fas fa-link pull-left" th:href="*{link}"></a>
        </div>
        <p><span class="text-muted" th:text="${source.srcType.displayValue}"/></p>
        <p><span th:text="${source.description}"/></p>
        <span class="text-muted">
            <b>Reliability:</b> <span th:text="@{ {value}, (value=*{score.reliability})}"/>
            <b>Confidence:</b> <span th:text="@{ {value}(value=*{score.confidence})}"/>
        </span>
        <div th:replace="~{fragments/review-list :: reviewList(${source.reviews}, '')}"></div>
    </div>
</html>
