<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/style-main-layout}"
      xmlns:th="http://www.thymeleaf.org">

    <div layout:fragment="content">
        <div class="my-5">
            <h2 class="mb-5">Fact-Checker Details</h2>
            <div class="row" th:object="${checker}">
                <div class="col">
                    <h4 class="pr-2" th:text="*{name}"/>
                    <a target="_blank" class="btn btn-primary fas fa-link pull-left" th:href="*{link}"></a>
                    <span class="text-muted">
                        <b>Reliability:</b> <span th:text="@{ {value}, (value=*{score.reliability})}"/>
                        <b>Confidence:</b> <span th:text="@{ {value}(value=*{score.confidence})}"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</html>
